/* CSS declarations go here */

body {
  margin: 0px;
  font-family: helvetica;
  overflow: hidden;
  background: rgb(84, 174, 190);
}
canvas { width: 100vw; height: 100vh; }

#harvest-overlay {
  transition: opacity 0.2s;
  display: flex;
  position: absolute;
  opacity: 1;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px;
}

#harvest-overlay.hidden {
  display: none;
}

#money-earned {
  font-weight: bold;
  margin-left: 5px;
}

.team svg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  stroke: white;
  stroke-width: 10;
}
.team div {
  margin: auto;
  white-space: nowrap;
}
.team {
  pointer-events: none;
  color: white;
  display: flex;
  align-items: center;
}
.team.mine {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
}
.team.other {
  font-size: 0.5em;
  position: absolute;
  top: 110px;
  left: 35px;
  width: 50px;
  height: 50px;
}

#build-overlay {
  transition: opacity 0.2s;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  opacity: 0;
  pointer-events: none;
  display: none;
}

#build-overlay.visible {
  opacity: 1;
  pointer-events: all;
  display: flex;
}

#build-overlay > div {
  text-align: center;
  margin: auto;
  display: flex;
}

#build-overlay button {
  width: 100px;
  display: block;
  margin-bottom: 5px;
}

.build {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
}

#intro-overlay {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  display: flex;
}

#intro-overlay.hidden {
  display: none;
}

#intro-overlay svg {
  height: 30px;
  width: 30px;
  stroke: 1;
  margin-right: 20px;
}

#intro-overlay button {
  display: block;
  width: 100px;
  margin: auto;
}

#intro-overlay > div {
  width: 80%;
  margin: auto;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px;
}

#intro-overlay .home,
#intro-overlay .work,
#intro-overlay .rival {
  display: flex;
  align-items: center;
  background: white;
  margin-bottom: 10px;
  padding: 10px;
}

span, p {
  font-size: 0.8em;
}

button {
  font-size: 1.1em;
}