/* CSS declarations go here */

body {
  margin: 0px;
  font-family: helvetica;
  overflow: hidden;
  background: rgb(84, 174, 190);
}
* { font-weight: lighter; }
canvas { width: 100vw; height: 100vh; }

#harvest-overlay {
  transition: opacity 0.2s;
  display: flex;
  position: absolute;
  opacity: 1;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px;
}

#harvest-overlay.hidden {
  display: none;
}

#money-earned {
  font-weight: bold;
  margin-left: 5px;
}

.team svg {
  width: 110%;
  height: 100%;
  position: absolute;
  z-index: -1;
  stroke: white;
  stroke-width: 10;
}
.team div {
  margin: auto;
  white-space: nowrap;
}
.team {
  pointer-events: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team.mine {
  position: absolute;
  width: 100px;
  height: 100px;
  font-size: 50px;
}

#scoreboard .team.mine {
  top: 10px;
  left: 10px;
}

.team.other {
  font-size: 20px;
  position: absolute;
  width: 50px;
  height: 50px;
}

#scoreboard .team.other {
  top: 110px;
  left: 35px;
}

#build-overlay {
  transition: opacity 0.2s;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  opacity: 0;
  pointer-events: none;
  display: none;
}

#build-overlay.visible {
  opacity: 1;
  pointer-events: all;
  display: flex;
}

#build-overlay > div {
  text-align: center;
  margin: auto;
  display: flex;
}

#build-overlay button {
  width: 100px;
  display: block;
  margin-bottom: 5px;
}

.build {
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid white;
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
}

#intro-overlay {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  display: flex;
}

#intro-overlay.hidden {
  display: none;
}

svg { flex-shrink: 0; }

#intro-overlay svg {
  height: 30px;
  width: 30px;
  stroke: 1;
  margin-right: 20px;
}

#intro-overlay button {
  display: block;
  width: 100px;
  margin: auto;
}

#intro-overlay > div {
  width: 80%;
  margin: auto;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid white;
  border-radius: 4px;
  padding: 40px;
}

#intro-overlay .home,
#intro-overlay .work,
#intro-overlay .rival {
  display: flex;
  align-items: center;
  background: white;
  margin-bottom: 10px;
  padding: 10px;
}

#info {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  border-radius: 4px;
  padding: 5px 8px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

#info.hidden {
  display: none;
}

span, p {
  font-size: 0.8em;
}

button {
  font-size: 1.1em;
  cursor: pointer;
  flex-shrink: 0;
  padding: 5px 20px;
  background: white;
  border: 1px solid gray;
  transition: box-shadow 0.2s;
  border-radius: 3px;
}

button:hover {
  box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.2);
}

#game-over.hidden { display: none; }

#game-over {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  font-size: 30px;
  background: rgba(255,255,255, 0.85);
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  padding: 100px;
}

#game-over .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
}

#game-over .row span {
  font-size: 40px;
}

#game-over .scoreboard {
  position: relative;
  height: 100px;
}

#game-over .scoreboard .team {
  z-index: 1;
}

#game-over .scoreboard .team.mine {
  right: 75px;
}

#game-over .scoreboard .team.other {
  right: 0px;
  top: 25px;
}

.dimmed {
  background: lightgray;
  border-radius: 5px;
  padding: 40px;
}

#time-remain {
  position: absolute;
  right: 50px;
  top: 10px;
  color: white;
  background: rgba(255,255,255,0.2);
  padding: 5px 8px;
  border-radius: 3px;
  border: 1px solid white;
}

*::selection {
  background: none;
}

